<div id="wrapper" class="container">
    <!-- Header Section Start -->
    <header-app></header-app>
    <!-- Header Section Ends -->

    <!--Body Start-->
    <router-outlet></router-outlet>
    <!--Body End-->

    <!--Footer Section Start-->
    <footer-app></footer-app>
    <!--Footer Section End-->
</div>
<div class="copyright container">
    <div class="clearfix">
        <!-- Starts -->
        <p class="pull-left">
            &copy; 2017 Pizza Junction Snacks
        </p>
        <!-- Ends -->
        <!-- Payment Gateway Links Starts -->
        <ul class="pull-right list-inline">
            <li>
                <img src="/app/common/images/payment-icon/cirrus.png" alt="PaymentGateway" />
            </li>
            <li>
                <img src="/app/common/images/payment-icon/paypal.png" alt="PaymentGateway" />
            </li>
            <li>
                <img src="/app/common/images/payment-icon/visa.png" alt="PaymentGateway" />
            </li>
            <li>
                <img src="/app/common/images/payment-icon/mastercard.png" alt="PaymentGateway" />
            </li>
            <li>
                <img src="/app/common/images/payment-icon/americanexpress.png" alt="PaymentGateway" />
            </li>
        </ul>
        <!-- Payment Gateway Links Ends -->
    </div>
</div>