<h3 class="side-heading">
    Order Summary
    <div id="divClearCart" class="desc pull-right" (click)="clearCart()" title="Clear All Items">
        <i class="fa fa-trash"></i>
    </div>
</h3>
<div class="list-group">
    <div class="list-group-item">
        <div class="order-summary">
            <div class="caption" *ngIf="(cartDetails && cartDetails.totalQty)">
                <div class="line-item" *ngFor="let item of globals.generateArray(cartDetails)">
                    <div class="desc pull-left" *ngIf="item">
                        {{item.qty}} X {{item.item.ItemTitle}}, {{item.item.Size}}{{item.item.MetricType == "Inches" ? "\"" : ""}} {{item.item.Description}}
                    </div>
                    <div class="amount pull-left" *ngIf="item">
                        {{item.price | currency: 'USD': true}}
                    </div>
                </div>
                <!--Kept as sample data
                    <div class="line-item">
                    <div class="desc pull-left">1 X Cheesy Cheese Pizza, 10" Small</div>
                    <div class="amount pull-left">$12.00</div>
                </div>-->
                <div class="line-item">
                    <div class="desc pull-left divider"></div>
                    <div class="amount pull-left"></div>
                </div>
                <div class="sub-total line-item">
                    <div class="desc pull-left">Sub Total</div>
                    <div class="amount pull-right">
                        {{cartDetails?.totalPrice | currency: 'USD': true}}
                    </div>
                    <!--Get total sum of order-->
                </div>
                <div class="delivery line-item">
                    <div class="desc pull-left">Delivery Fee</div>
                    <div class="amount pull-right">{{ deliveryFee | currency:'USD': true }}</div>
                    <!--Calculate as per distance-->
                </div>
                <div class="tax line-item">
                    <div class="desc pull-left">GST ({{globals.getGSTAmount()}}%)</div>
                    <div class="amount pull-right">
                        {{ ((globals.getGSTAmount() * cartDetails?.totalPrice / 100) ? (globals.getGSTAmount() * cartDetails?.totalPrice / 100): 0) | currency:'USD': true }}
                    </div>
                    <!--5% of total sum-->
                </div>
                <div class="total line-item">
                    <div class="desc pull-left last">Total</div>
                    <div class="amount pull-right">
                        {{ ((cartDetails?.totalPrice + deliveryFee + (globals.getGSTAmount() * cartDetails?.totalPrice / 100)) ? (cartDetails?.totalPrice + deliveryFee
                        + (globals.getGSTAmount() * cartDetails?.totalPrice / 100)) : 0) | currency:'USD': true }}
                    </div>
                    <!--Get total sum of order including Delivery Fee, GST-->
                </div>
                <div class="cart-button button-group">
                    <button type="button" class="btn btn-cart" [routerLink]="['/menu/checkout']" [disabled]="!(cartDetails?.totalQty)">
                        Checkout <i class="fa fa-shopping-cart"></i>
                    </button>
                </div>
            </div>
            <div class="caption" *ngIf="!(cartDetails && cartDetails.totalQty)">
                <div class="line-item">
                    <div class="cart-button button-group">
                        No item selected
                        <br>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>