<footer id="footer-area">
    <!-- Footer Links Starts -->
    <div class="footer-links row">
        <!-- Information Links Starts -->
        <div class="col-md-2 col-sm-6">
            <h5>Information</h5>
            <ul>
                <li><a href="#">About Us</a></li>
                <li><a href="#">Delivery Information</a></li>
                <li><a href="#">Privacy Policy</a></li>
                <li><a href="#">Terms &amp; Conditions</a></li>
            </ul>
        </div>
        <!-- Information Links Ends -->
        <!-- My Account Links Starts -->
        <div class="col-md-2 col-sm-6">
            <h5>My Account</h5>
            <ul>
                <li><a href="#">My orders</a></li>
                <li><a href="#">My addresses</a></li>
                <li><a href="#">My personal info</a></li>
            </ul>
        </div>
        <!-- My Account Links Ends -->
        <!-- Customer Service Links Starts -->
        <div class="col-md-2 col-sm-6">
            <h5>Service</h5>
            <ul>
                <li><a href="#">Contact Us</a></li>
                <li><a href="#">Specials</a></li>
            </ul>
        </div>
        <!-- Customer Service Links Ends -->
        <!-- Follow Us Links Starts -->
        <div class="col-md-2 col-sm-6">
            <h5>Follow Us</h5>
            <ul>
                <li><a href="https://www.facebook.com/pizzajunction.snacks">Facebook</a></li>
                <li><a href="#">Twitter</a></li>
                <li><a href="#">RSS</a></li>
                <li><a href="#">YouTube</a></li>
            </ul>
        </div>
        <!-- Follow Us Links Ends -->
        <!-- Contact Us Starts -->
        <div class="col-md-4 col-sm-12 last">
            <h5>Contact Us</h5>
            <ul>
                <li>PIZZA JUNCTION SNACKS</li>
                <li>
                    Unit #6 32442, George Ferguson Way Abbotsford, BC V2T 4Y4
                </li>
                <li>
                    Website: <a href="http://www.pizzajunctionsnacks.com">www.pizzajunctionsnacks.com</a>
                </li>
            </ul>
            <h4 class="lead">
                Tel: <span>1(604)-746-0246</span>
            </h4>
        </div>
        <!-- Contact Us Ends -->
    </div>
    <!-- Footer Links Ends -->
</footer>
